# Local files
**/*/__pycache__/
**/.*

# Database stuff
Images/
Scrapper/*galaxy.json
CreditESA.txt

# Backup and old_version versions
old_versions/
Model/Backup/

# Note and testing files
Memo_todo.txt
**/*test.ipynb
Model/models/Benchmark_note.ods

